.header {
  background-color: #f1f1f1;
  height: 70px;
  padding: 0 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .navigation-links ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.header .navigation-links ul li + li {
  margin-left: 3em;
}

.header .navigation-links ul li a,
.header .navigation-links ul li.a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.header .wallet-button {
  padding: 0.75em 1.25em;
  background-color: rgb(218, 139, 22);
  border-radius: 3px;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
}
