:root {
  --header-height: 100px;

  --red: #f50303;
  --yellow: #f5f22c;
  --blue: #2ca7f5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "BioRhyme", sans-serif;
}

body {
  font-family: "BioRhyme", sans-serif;
  font-size: 16px;
  background-image: url("../public/crossline-dots.png");
}

.btn {
  padding: 0.75em 1.25em;
  background-color: var(--blue);
  color: white;
  cursor: pointer;
  border: 0;
}

.btn--red {
  background-color: var(--red);
}

p {
  line-height: 1.4em;
}

a {
  text-decoration: none;
  color: black;
}

.h1 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.form-group {
  margin-bottom: 1em;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 0.5em 0.75em;
}

.form-group label {
  margin-bottom: 0.25em;
  display: inline-block;
}

.form-group textarea {
  max-width: 100%;
  resize: vertical;
  height: 100px;
  min-height: 100px;
  max-height: 300px;
}

.form-group.input-error input,
.form-group.input-error textarea,
.form-group.input-error select {
  border: 1px solid red;
}

.form-group.input-error label {
  color: red;
}

.form-group.input-error .error-message {
  color: red;
  font-size: 0.8em;
}

@media only screen and (max-width: 992px) {
  :root {
    --header-height: 70px;

    --red: #f50303;
    --yellow: #f5f22c;
    --blue: #2ca7f5;
  }
}

@media only screen and (max-width: 768px) {
  .h1 {
    font-size: 1.5em;
  }

  .h2 {
    font-size: 1.2em;
  }
}
