.all-projects ul {
  list-style-type: none;
  margin: 1em 0;
}

.all-projects ul li .project {
  border-left: 5px solid rgb(218, 139, 22);
  padding: 0.75em;
}

.all-projects ul li .project:hover {
  background-color: #f1f1f1;
}

.all-projects ul li + li {
  margin-top: 1em;
}

.all-project-details {
  display: flex;
  justify-content: space-between;
}

.all-project-details-second {
  min-width: max-content;
}

.search-projects {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
